body {
  background-color: #E40070;
  margin: 0;
  padding: 0;
}

.TodoApp {
  color: #222;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Allerta Stencil', sans-serif;
  text-align: center;
}
