.title h1 {
  letter-spacing: 2px;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 180px;
  margin-bottom: 50px;
  transition: transform 2s, color 2s;
  position: relative;
}

.title span {
  font-size: 28px;
  font-weight: bold;
  border-radius: 50%;
  border: 3px solid pink;
  width: 40px;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  margin-bottom: 10px;
  padding-left: 2px;
  color: pink;
  position: absolute;
  top: 20px;
  right: -20px;
}

.title h1:hover {
  transform: scale(1.1,1.1);
  color: pink;
}
